<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{organization.short_name}} {{folder_type}}</title>
    <base href=".." />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="icon" href="{{branding.favicon_url}}" sizes="192x192" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script defer src="assets/js/scripts.js"></script>
  </head>
  <body>
    {{>header}}
    <main>
      <div class="preamble">
        <h1>Table of Contents - {{folder_name}}</h1>
        <ul>
          {{#each controls}}
          <li class="tocItem">
            <input
              class="tocCheckbox"
              type="checkbox"
              id="{{id}}"
              checked="checked"
              onchange="showHideControl(this)"
            /><a class="tocLink" href="{{../folder_type}}/index.html#{{id}}"
              >{{name}}</a
            >
          </li>
          {{/each}}
        </ul>
      </div>
      {{#each controls}}
      <section class="controls" id="control_{{id}}">
        <div class="content">
          <div class="policy-content">
            <div class="policy-header">
              <h1><a name="{{id}}">{{name}}</a></h1>
              <div class="policy-meta">
                <span>ID: {{id}}</span>
                {{#if ../policies }}
                <span>Approved by: {{../policies.approver}}</span>
                {{/if}} {{#if ../policies}}
                <span>Dated: {{../policies.approval_date}}</span>
                {{/if}} {{#if version}}
                <span>Version: {{version}}</span>
                {{/if}} {{#if_equals type "procedure"}}
                <span
                  >Scheduled: {{#if cron}}{{cronstrue cron}}{{else}}On
                  Demand{{/if}}</span
                >
                {{/if_equals}}
              </div>
            </div>
            <div class="markdown-content">
              {{#markdown}}{{body}}{{/markdown}}
            </div>
          </div>
        </div>
      </section>
      {{/each}}
    </main>
    {{>footer}}
  </body>
</html>
